@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body
{
    margin: 0px;
    background-color: #000000;
    font-family: "Press Start 2P";
}

#main
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}