@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body
{
    margin: 0px;
    background-color: #000000;
    font-family: "Press Start 2P";
}

#game
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#tutorial
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center;
    color: #FF0000;
}